@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.container {
  height: 100vh;
  width: 100%;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.cont1right img {
  /* display: flex; */
  object-fit: cover;
  z-index: -10;
  height: auto;
}

.cont1right {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cont1left {
  z-index: 1;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container1 .cont1left h1 {
  font-size: 30px;
  text-transform: capitalize;
}

.container1 .cont1left p {
  font-size: 14px;
  max-width: 500px;
  font-weight: 500;
  text-align: center;
  width: 80%;
}

.container1 .cont1left button {
  border: 1.7px solid black;
  background-color: transparent;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin: 10px 10px;
  transition: 0.3s ease-in-out background-color;
}

.container1 .cont1left button:hover {
  background-color: #000;
  color: #fff;
}

span {
  color: red;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('https://images.unsplash.com/photo-1513258496099-48168024aec0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -2;
  position: absolute;
}

.container2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 50vh;
}

.container2 .content p {
  color: white;
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: 5px 0px;
}

.container2 h1 {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}

.container3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.container3 .contdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  flex-direction: column;
}

.container3 .contdown .para {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}

.container3 .contdown .input_field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container3 .contdown .input_field .input {
  display: flex;
  margin-top: 12px;
}

.container3 .contdown .input_field .input input {
  border: 1.5px solid black;
  outline: none;
  padding: 7px 14px;
  background-color: transparent;
  border-radius: 4px 0px 0px 4px;
}

.container3 .contdown .input_field #submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border: 1.5px solid black;
  background: #000;
  color: white;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  outline: none;
}

footer {
  height: 22vh;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.footlast {
  display: flex;
}

.footright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footermain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

footer a:hover #year,
footer a:hover {
  color: red;
  transition: 0.3s ease color;
}

footer a {
  text-decoration: none;
  font-size: 22px;
}

.footlast a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  margin: 0 40px;
  font-size: 18;
}

footer p {
  color: rgb(255, 255, 255);
}

#year {
  color: #fff;
}

ion-icon {
  color: #fff;
  font-size: 22px;
  margin: 10px 10px;
  cursor: pointer;
}

ion-icon:hover {
  color: rgb(255, 0, 0);
}

.footlft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60%;
  flex-direction: column;
}

.footlft a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact a {
  margin: 0 5px;
}

.navcontainer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

.navcontainer nav {
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* max-width: 1300px; */
  padding: 0 10px;
  transition: 0.3s ease background-color;
}

.navcontainer nav a {
  color: black;
}

.navcontainer nav ul {
  position: absolute;
  list-style: none;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

.navcontainer nav ul.active {
  left: 0;
}

.nav.white ul a {
  color: #fff;
}

nav ul a {
  color: black;
}

.nav.white img {
  filter: invert(1);
}

.navcontainer nav ul a {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  padding: 20px;
  display: block;
  /* position: relative; */
}

.navcontainer nav ul a:hover {
  color: red;
}

.navcontainer nav ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 7rem;
  z-index: -1;
  font-weight: 600;
  letter-spacing: 50px;
  transition: 0.3s ease letter-spacing;
}

.navcontainer nav ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: 0;
}

.navcontainer nav .hamburgar {
  z-index: 100;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(0.7);
  display: inline-block;
  border: 1.5px solid white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px;
}

.nav .hamburgar {
  filter: invert(1);
}

.nav.white .hamburgar {
  filter: invert(0);
}

.navcontainer nav .hamburgar .bar {
  height: 1.5px;
  width: 30px;
  background-color: #fff;
  position: relative;
  z-index: -1;
}

.navcontainer nav .hamburgar .bar::after,
.navcontainer nav .hamburgar .bar::before {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  left: 0;
  background-color: #fff;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

.navcontainer nav .hamburgar .bar::after {
  top: 8px;
}

.navcontainer nav .hamburgar .bar::before {
  bottom: 8px;
}

.navcontainer nav .hamburgar.active .bar::after {
  top: 0;
}

.navcontainer nav .hamburgar.active .bar::before {
  bottom: 0;
}

@media (min-width: 918px) {
  .container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .cont1left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;
  }

  .container1 .cont1left h1 {
    font-size: 55px;
  }

  .container1 .cont1left p {
    font-size: 20px;
    max-width: 500px;
    font-weight: 500;
    width: 80%;
    text-align: left;
  }

  .container1 .cont1left button {
    border: 1.7px solid black;
    background-color: transparent;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 15px 10px;
  }

  .container1 .cont1left button:hover {
    background-color: #000;
    color: #fff;
  }

  .container1 .cont1right img {
    object-fit: cover;
    margin-top: 50px;
    height: 550px;
    width: 400px;
  }

  .container2 {
    position: relative;
  }

  .container2 .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 90%;
  }

  .container2 .content p {
    color: #fff;
    margin: 0 20px;
    text-align: center;
    width: 50%;
    background-color: transparent;
  }

  .hr {
    height: 150px;

    border: 1.2px solid white;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  .container2 h1 {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
  }

  .container3 {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    align-items: center;
    justify-content: space-evenly;
  }

  .container3 .contdown .para {
    width: 80%;
  }

  .navcontainer nav .hamburgar {
    display: none;
  }

  .navcontainer nav ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    font-size: 20px;
    padding: 0 0px;
    margin-right: 10px;
  }

  .navcontainer nav ul a {
    font-size: 1rem;
    font-weight: 500;
    color: black;
  }
}

@media (max-width: 500px) {
  .container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  iframe {
    width: 90%;
  }
}